#taskDetail {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  #taskDetail h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  #taskDetail p {
    margin: 5px 0;
  }
  
  #taskDetail .go-back-btn {
    background: linear-gradient(135deg, #6c757d, #5a6268);
  }
  
  #taskDetail .go-back-btn:hover {
    background: linear-gradient(135deg, #5a6268, #4e555b);
  }

  .taskClass{
    display: flex;
    justify-content: center;
  }